@charset "utf-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
ul,li,ol{list-style: none;}
#wrap{width: 100%; height:100%;}


 @media screen and (max-width:767px) {
  
        header{width:100%; height: 53px;background-color: #5fb4c9; color: #fff;}
        /* header ul{display: flex; column-gap: 20px;}
        header li{display: flex;} */
       
       .headertext{width: 100%; height:53px; margin: 0 auto;  background-color:#5fb4c9;display: flex;justify-content: space-between; }
       .headertext .logo{overflow: hidden; width: 9%; height: 74%;
        margin-top: 7px; margin-left: 1%;}
       .headertext .logo img{width: 100%; height: 100%;}
       
       .headertext nav{width: calc(100% - 202px);display: flex;align-self: center;}
       .headertext #menu{position: absolute;
        top: 60px;
        left: 0;
        width: 25%;
    font-size: 12px;
line-height: 40px;}
       
       .headerright{width:102px; height: 53px; float: right;
           display: flex;align-items: center; justify-content: flex-end;cursor: pointer;
        }
           .headerright a img{width: 60%; display: none;}
          
         
       nav{width: calc(100% - 200px);}
       
       #menu .first{position: relative; padding: 15px;}
       
       
       
       .second{position: absolute;transform: translateX(-50%); background-color:#fff;  display: none; border-radius: 20px;
       border: 2px #5fb4c9 solid;   top: 9px;
       left: 160%;    z-index: 10;     line-height: 20px;}
       .second li{white-space:nowrap; padding: 5px 20px;}
       .second li a{text-decoration: none; color:#0894c9; }
       .second li:hover a{font-weight:bold ;}
       .section1{width:100%; height:100%; 
           display: flex;
           justify-content: center;}
           .section1 img{width: 100%;}
       
       
       
       
       
       
       .section2{width:100%; height:400px;
       margin: 0 auto;
       margin-top: 403px;
           margin-bottom: 386px;
       background-image: url(img/pngwing.com.png);
       background-position: center;
       background-size: 274px;
       background-repeat: no-repeat;
       }
       .audio{width: 100%; 
           text-align:center;
           font-size: 15px;}
       
       
           .section3{width:100%;  height:1700px;
            display: flex; flex-direction: column; justify-content: center;}
            .sec3{text-align: center;font-weight: bold;     font-size: 30px; height:auto; padding-bottom: 84px; color: #5fb4c9;}
            .director{width: 100%;height: 1000px; margin: 0 auto;
            display: flex; flex-wrap: wrap;
            justify-content: center; align-content: space-between;
            }
            .mseeage{display: flex; flex-direction: column; justify-content: space-around;
            width: 60%; height: auto; line-height: 44px;
            border: #5fb4c9 2.5px solid; border-radius: 40px;
            align-self: flex-start; padding:  30px;
            text-align: center; }
            .mseeage p{font-size: 11px; text-align: left;}
            .mseeage:first-of-type{align-self: center;}
            .mseeage:last-of-type{align-self: flex-end;}
            .mseeage img{width: 100%; height: 100%;}
       
       
            #intromove{width:100%; height: auto;
                display: flex;
                justify-content: center;
                }
            .section4{width:100%;height: auto;margin: 0 auto;
                display: flex;
             flex-wrap: wrap;
                justify-content:space-evenly;
                overflow: hidden;
        
               }
            
            
            
            
            .box{width: 100%;     height: 955px;
            display: flex; flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 142px;}
            .box:nth-of-type(2){flex-direction: column-reverse;
                margin-bottom: 142px;}
            
            
                 .inbox{width: 80%; height:auto; 
                
                    display: flex; 
                    flex-direction: column;
                    justify-content: space-around;
                    opacity: 0;
                    transition: all 1s ease-in-out;
                    font-size: 13px;
            
            }
            
            .box:nth-of-type(2n-1) .inbox{transform: translateX(-500px);  padding-top: 40px;}
            .box:nth-of-type(2n) .inbox{transform: translateX(500px);
            padding-top: 40px;}
            
                 .textinbox1{width: 281px; height:70px; }
                 .textinbox2{width: 192px; height:77px;}
                 .textinbox3{width: 367px;font-size: 14px; line-height: 30px;}
             .inbox1{width:80%; height:auto;
             display: flex;     position: relative;
            }
            .inbox1 img{width: 100%;}
            .inbox1 .mask2 img{width: 100%; height: 100%;     
               
            }
            .c{  position: absolute;
            
                top: 0px;
                left: 19px;
            animation: mask2img 1s ease-in-out infinite Alternate;
            width: 84%;
            }
            .d{width: 100%;
                top: -24px;
                right:35px;
            position: absolute;
            animation: mask2img 1s ease-in-out infinite Alternate;}
            .e{position: absolute;
                animation: mask2img 1s ease-in-out infinite Alternate;
                top: 250px;
            width: 35%;}
            
            
            @keyframes mask2img{
                0%{top:-48px
            }
            
                 100%{top:-28px
                    
                 }
            }
            
            .inbox1 .mask2{
                
             position: relative; 
            transform: translate(-0px, -0px);
        width: 100%;}
            
            .inbox1 .mask3{
                width: 100%;
                height: 110%;
                position: absolute;
                bottom: 0px;
            }
            
             
            
               .inbox1 .mask5{position: absolute;
             
                width: 17%;
                top: 44px;
                right: 100px;}
            
               .mask4{
                top: 152px;
                left: -38px;
                position: absolute;}
                #slideanimate{padding-top: 40px;}
        
       
       .section5{width: 100%; height: 800px;     margin-top: 222px;}
       /* .slidewaltextbocrap{width: 1200px; height: 656px;margin: 0 auto; overflow: hidden; position: relative;} */
       .slidewrap{width: 1200px;margin: 0 auto; position: relative; overflow: hidden;}
       .slide{width: 300%; height: 100%;}
       .slide li{width: 1200px; float: left;}
       
       .realtextbox{  background-color: #5fb4c9;
       width: 1200px; margin: 0 auto; height: 60px;
       border-radius: 89px; position: relative;}
       
       .munzismall img{width:50px; height:54px;}
       .realtextbox p{color: #fff; padding: 15px;font-size: 22px; 
       float: right; font-weight: bold;}
       .realtextbox .munzismall{    position: absolute;
           left: 22px;
           top: 0px;}
           
           .realtextbox .munzismall img{width: 47px; height: 54px;}
       
       .picwrap{width: 1048px; height: 450px; 
       margin: 0 auto; display: flex; justify-content: space-between;
       margin-top: 83px;}
       
       .picwrapsmall{width: 1048px; height: 450px; 
           margin: 0 auto; display: flex;
           margin-top: 83px;
       position: relative;}
       .picwrapsmall div:nth-child(1){width: 620px; height: 100%;}
       .picwrapsmall div:nth-child(2){width: 300px; height: 100%;  position:absolute;right: 0 ; top: 0; overflow: hidden;}
       .picwrapsmall div:nth-child(3){width: 300px;height: 100%; position: absolute;bottom: 0; right: 0; overflow: hidden;}
       
       .picwrapsmall div:nth-child(1) img{width: 650px;
           height: 100%;}
           .picwrapsmall div:nth-child(2) img{width: 100%;
              }
           .picwrapsmall div:nth-child(3) img{width:100%;
              }
           .picwrapsmall div{border-radius:30px; overflow: hidden;}
       
       .picwrap div{border-radius:30px; background-color: #5fb4c9;
       width: 650px; overflow: hidden;}
       .picwrap img{width: 100%;height: 100%;}
       
       .picwrap div:nth-child(2){width: 350px;}
       .picwrapsmall div:nth-child(2){width: 300px; height:200px;}
       .picwrapsmall div:nth-child(3){width: 313px; height:208px;}
       .slidewrap span{position: absolute; top:50%; transform: translateY(80%); cursor: pointer;}
       .picwrapsmall{display: flex; }
       
       .prev{left: 0px;}
       .prev img{}
       .next{right: 0px;}
       .next img{}
       
       .section6{width:100%;height: 809px;
       }
       .character{width:1200px; height:100px;margin: 0 auto;}
       .char{overflow: hidden;}
       .char img{width: 100%; height: 100%;
       
       display: flex;justify-content: space-between;
       ;}
       
           .button,.char{width: 200px; height: 80px;  
               border-radius: 30px; 
            justify-content: space-evenly;}
       
           .cardwrap{width: 1200px; height: 600px;margin: 0 auto; display: flex; justify-content: space-around; align-items: center;
           }
         
           .section6 .cha0{width: 400px; height: 440px; margin: 0 auto;
        }
        .button:nth-child(1),.button:nth-child(3)
        ,.button:nth-child(5){display: flex;align-items: center;
       cursor: pointer;}
        .buttonone{background-color: #4a8a6d;
           width: 60px; height: 60px; overflow: hidden;
       border-radius: 508px;
         
         }
       .buttonone img{width: 100%;height: 100%;}
       
       .satextbox {padding: 15px; font-weight: bold; color: #fff;}
       
       
       
           /* .sazz{position: relative;bottom: 420px;
           margin: 0 auto; } */
           .section6 .satextbox{width: 376px; height: 53px;background-color: #e7d277; margin: 0 auto; right: 0;
           margin-top: 15px; text-align: center; }
       .sazl{position: relative; bottom: 420px;}
       
       .section6 .zlzl{background-color: #4a8a6d;}
       
       
       
       
       
       
       
       
       
           #wrapp {
           position: relative;
           width: 430px;
           height: 440px;
         
       
           perspective: 500px;
           cursor: pointer;
       
       }
       
       #wrapp .card {
           width: 100%;
           height: 100%;
           transition: all ease-in-out .5s;
           transform-style: preserve-3d;
       }
       
       #wrapp:hover .card {
           transform: rotateY(180deg);
       }
       
       #wrapp .card > div {
           position: absolute;
           top: 0;
           left: 0;
           
           width: 100%;
           height: 100%;
           
        
           backface-visibility: hidden;
       }
       
       #wrapp .card .card-front {
           background-color: #f54;
           z-index: 10;
           text-align: center;}
       #wrapp .card .card-front .satextbox{position: relative; bottom: 420px;}
       #wrapp .card .card-back {
           background-color: #ccc;
           z-index: 5;
           transform: rotateY(180deg);
       }
       .section7{width: 100%;height: 40px;background-color:#dbf7e4;
           margin: 0 auto; position: relative;    margin-top: 229px;}
           .section7 img {width: 18px; position: absolute; top: 5px; left: 13px;
           }
       
           .mseeage{opacity: 0;transition: all 1s;}
       .section8{width: 100%;height: 503px;background-color: #ffebe0;
           margin: 0 auto; display: flex; flex-direction: column; position: absolute;}
       .section8 div{text-align: center;}
       #sitewrap{width: 900px; height:100px;  margin: 0 auto;
       display: flex;     justify-content: space-between;    margin-top: 80px;}
       #sitewrap a{text-decoration: none; color:black;}
       #sitewrap img{width:112px; height: 120px;}
       .section8 p{text-align: center;position: absolute; bottom: 0; width: 100%;
           padding: 5px;color: #616060; }

          

        }
    





/*768px*/ 
    @media screen and (min-width:768px) and (max-width:1216px){
        header{width:100%; height: 43px;background-color: #5fb4c9; color: #fff;}

        .section1{width:100%; height:510px; 
         }
            .section1 img{width: 100%;}


 /*메뉴*/           
.headertext{width: 80%; height:45px; margin: 0 auto;  background-color:#5fb4c9;display: flex;justify-content: space-between;
font-size: 12px;}
.headertext .logo{overflow: hidden; width: 50px; height: 47px;
margin-top: 3px;}
.headertext .logo img{width: 80%; height: 80%;}

.headertext nav{width: calc(100% - 202px);display: flex;align-self: center;}
.headertext #menu{display: flex;}

.headerright{width:102px; height: 47px; float: right;
    display: flex;align-items: center;}
    .headerright a img{width: 50%; }
    .headerright>img{display: none;}
    
nav{width: calc(100% - 200px);}

#menu .first{position: relative; padding: 15px;}
.second{position: absolute; top: 60px; left: 50%; transform: translateX(-50%); background-color:#fff; display: none; border-radius: 20px;
    border: 2px #5fb4c9 solid;}
    .second li{white-space:nowrap; padding: 5px 20px;}
    .second li a{text-decoration: none; color:#0894c9}
    .second li:hover a{font-weight:bold ;}
    .audio{width: 100%; 
        text-align:center;}


    /*지브리 이야기*/
    #intromove{width:100%; height: auto;
        display: flex;
        justify-content: center;
        }
    .section4{width:100%;height: auto;margin: 0 auto;
        display: flex;
     flex-wrap: wrap;
        justify-content:space-evenly;
        overflow: hidden;

       }
    
    
    
    
    .box{width: 100%;     height: 955px;
    display: flex; flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 142px;}
    .box:nth-of-type(2){flex-direction: column-reverse;
        margin-bottom: 142px;}
    
    
         .inbox{width:600px; height:auto; 
        
            display: flex; 
            flex-direction: column;
            justify-content: space-around;
            opacity: 0;
            transition: all 1s ease-in-out;
    
    }
    
    .box:nth-of-type(2n-1) .inbox{transform: translateX(-500px);  padding-top: 40px;}
    .box:nth-of-type(2n) .inbox{transform: translateX(500px);
    padding-top: 40px;}
    
         .textinbox1{width: 281px; height:95px; }
         .textinbox2{width: 192px; height:125px;}
         .textinbox3{width: 390px;font-size: 20px; line-height: 30px;}
     .inbox1{width:600px; height:440px;
     display: flex;     position: relative;
    }
    .inbox1 .mask2 img{width: 100%; height: 100%;     
       
    }
    .c{  position: absolute;
    
        top: 0px;
        left: -24px;
    animation: mask2img 1s ease-in-out infinite Alternate;
    }
    .d{width: 100%;
        top: -24px;
        right:35px;
    position: absolute;
    animation: mask2img 1s ease-in-out infinite Alternate;}
    .e{position: absolute;
        animation: mask2img 1s ease-in-out infinite Alternate;
        top: 250px;}
    
    
    @keyframes mask2img{
        0%{top:-48px
    }
    
         100%{top:-28px
            
         }
    }
    
    .inbox1 .mask2{
        
     position: relative; 
    transform: translate(-0px, -0px);}
    
    .inbox1 .mask3{
        width: 100%;
        height: 110%;
        position: absolute;
        bottom: 0px;
    }
    
     
    
       .inbox1 .mask5{position: absolute;
     
        width: 20%;
        top: 44px;
        right: 160px;}
    
       .mask4{
        top: 250px;
        left: -75px;
        position: absolute;}
        #slideanimate{padding-top: 40px;}


/*감독소개*/
.section3{width:100%;  height:1700px;
    display: flex; flex-direction: column; justify-content: center;}
    .sec3{text-align: center;font-weight: bold; font-size: 40px; height:auto; padding-bottom: 84px; color: #5fb4c9;}
    .director{width: 100%;height: 1000px; margin: 0 auto;
    display: flex; flex-wrap: wrap;
    justify-content: center; align-content: space-between;
    }
    .mseeage{display: flex; flex-direction: column; justify-content: space-around;
    width: 80%; height: auto; line-height: 34px;
    border: #5fb4c9 2.5px solid; border-radius: 40px;
    align-self: flex-start; padding:  30px;
    text-align: center;}
    .mseeage:first-of-type{align-self: center;}
    .mseeage:last-of-type{align-self: flex-end;}
    .mseeage img{width: 100%; height: 100%;
    }.section2{width:100%; height:400px;
        margin: 0 auto;
        margin-top: 203px;
            margin-bottom: 186px;
        background-image: url(img/pngwing.com.png);
        background-position: center;
        background-size: 450px;
        background-repeat: no-repeat;}

/*section6 지브리의 인물*/
.section6{width:100%;height: 899;
}
.character{width:83%; height:100px;margin: 0 auto;    display: flex;
    justify-content: space-between;}
.char{overflow: hidden; display: none;}
.char img{width: 100%; height: 100%;

display: flex;justify-content: space-between;
;}

    .button,.char{width: 100%; height: 80px;  
        border-radius: 30px; 
     justify-content: space-evenly;}

    .cardwrap{width: 90%; height: 600px;margin: 0 auto; display: flex; justify-content: space-around; align-items: center;
    }
  
    .section6 .cha0{width: 42%; height: 440px; 
 }
 .button{width:26%}

 .button:nth-child(1),.button:nth-child(3)
 ,.button:nth-child(5){display: flex;align-items: center;
cursor: pointer;}
 .buttonone{background-color: #4a8a6d;
    width: 60px; height: 60px; overflow: hidden;
border-radius: 508px;
  
  }
.buttonone img{width: 100%;height: 100%;}
.card img{width: 100%;}
.satextbox {padding: 15px; font-weight: bold; color: #fff;}

.section6 .satextbox{width: 80%; height: 53px;background-color: #e7d277; 
   text-align: center; position: absolute; bottom:20%; left: 50%; transform: translateX(-50%);}
.card .sazl{position: absolute; top: 34%;
    left: 50%;
    transform: translate(-50%, -50%); width: 80%;}

.section6 .zlzl{background-color: #4a8a6d;}
    #wrapp {
    position: relative;
    width: 100%;
    height: 440px;
  

    perspective: 500px;
    cursor: pointer;

}

#wrapp .card {
    width: 100%;
    height: 100%;
    transition: all ease-in-out .5s;
    transform-style: preserve-3d;
}

#wrapp:hover .card {
    transform: rotateY(180deg);
}

#wrapp .card > div {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 45.39vw;
    
 
    backface-visibility: hidden;
}

#wrapp .card .card-front {
   
    z-index: 10;
    text-align: center;}
/* #wrapp .card .card-front .satextbox{position: absolute; bottom: 10px; left: 0;} */
#wrapp .card .card-back {

    z-index: 5;
    transform: rotateY(180deg);
}
/*slide*/
.section5{width: 100%; height: 800px;     margin-top: 222px;}
       /* .slidewaltextbocrap{width: 1200px; height: 656px;margin: 0 auto; overflow: hidden; position: relative;} */
       .slidewrap{width:100%;margin: 0 auto; position: relative; overflow: hidden;}
       .slide{width: 300%; height: 100%;}
       .slide li{width:33.3%; float: left;}
       
       .realtextbox{  background-color: #5fb4c9;
       width: 100%; margin: 0 auto; height: 60px;
       border-radius: 89px; position: relative;}
       
       .munzismall img{width:50px; height:54px;}
       .realtextbox p{color: #fff; padding: 15px;font-size: 22px; 
       float: right; font-weight: bold;}
       .realtextbox .munzismall{    position: absolute;
           left: 22px;
           top: 0px;}
           
           .realtextbox .munzismall img{width: 47px; height: 54px;}
       
       .picwrap{width:90%; height: 450px; 
       margin: 0 auto; display: flex; justify-content: space-between;
       margin-top: 83px;}
       .picwrap div:nth-child(2){width: 100%;}
       
       .picwrapsmall{width: 90%;height: 450px; 
           margin: 0 auto; display: flex;
           margin-top: 83px;
       position: relative;}
       .picwrapsmall div:nth-child(1){width: 50%; height: 100%;}
       .picwrapsmall div:nth-child(2){width: 100%; height: 100%;  position:absolute;right: 0 ; top: 0; overflow: hidden;}
       .picwrapsmall div:nth-child(3){width: 100%;height: 100%; position: absolute;bottom: 0; right: 0; overflow: hidden;}
       
       .picwrapsmall div:nth-child(1) img{width:100%;
           height: 100%;}
           .picwrapsmall div:nth-child(2) img{width: 100%;
              }
           .picwrapsmall div:nth-child(3) img{width:100%;
              }
           .picwrapsmall div{border-radius:30px; overflow: hidden;}
       
       .picwrap div{border-radius:30px; background-color: #5fb4c9;
        width: 186%; overflow: hidden;}
           

       .picwrap img{width: 100%;height: 100%;}
       
       
       .picwrapsmall div:nth-child(2){width:40%; height:200px;}
       .picwrapsmall div:nth-child(3){width: 40%; height:208px;}
       .slidewrap span{position: absolute; top:50%; transform: translateY(80%); cursor: pointer;}
       .picwrapsmall{display: flex; }
       
       .prev{left: 0px;}
       .prev img{width: 100%;}
       .next{right: 0px;}
       .next img{width: 100%;}



       
        .section7{width: 100%;height: 40px;background-color:#dbf7e4;
            margin: 0 auto; position: relative;    margin-top: 229px;}
            .section7 img {width: 18px; position: absolute; top: 5px; left: 13px;
            }
        
            .mseeage{opacity: 0;transition: all 1s;}
        .section8{width: 100%;height: 503px;background-color: #ffebe0;
            margin: 0 auto; display: flex; flex-direction: column; position: absolute;}
        .section8 div{text-align: center;}
        #sitewrap{width: 70%;height:100px;  margin: 0 auto;
        display: flex;     justify-content: space-between;    margin-top: 80px;}
        #sitewrap a{text-decoration: none; color:black;}
        #sitewrap img{width:65%; height: 90%;}
        .section8 p{text-align: center;position: absolute; bottom: 0; width: 100%;
            padding: 5px;color: #616060; }
 
            }




    @media screen and (min-width:1217px) {
        header{width:100%; height: 53px;background-color: #5fb4c9; color: #fff;  }
        /* header ul{display: flex; column-gap: 20px;}
        header li{display: flex;} */
       
       .headertext{width: 1200px; height:53px; margin: 0 auto;  background-color:#5fb4c9;display: flex;justify-content: space-between; }
       .headertext .logo{overflow: hidden; width: 50px; height: 47px;
        margin-top: 3px;}
       .headertext .logo img{width: 100%; height: 100%;}
       
       .headertext nav{width: calc(100% - 202px);display: flex;align-self: center;}
       .headertext #menu{display: flex;}
       
       .headerright{width:102px; height: 53px; float: right;
           display: flex;align-items: center;}
           .headerright a img{width: 60%; }
           .headerright > img{display: none;}
         
       nav{width: calc(100% - 200px);}
       
       #menu .first{position: relative; padding: 15px;}
       
       
       
       .second{position: absolute; top: 60px; left: 50%; transform: translateX(-50%); background-color:#fff; display: none; border-radius: 20px;
       border: 2px #5fb4c9 solid;}
       .second li{white-space:nowrap; padding: 5px 20px;}
       .second li a{text-decoration: none; color:#0894c9}
       .second li:hover a{font-weight:bold ;}
       .section1{width:100%; height:1020px; 
           }
           .section1 img{width: 100%;}
       
       
       
       
       
       
       .section2{width:100%; height:400px;
       margin: 0 auto;
       margin-top: 403px;
           margin-bottom: 386px;
       background-image: url(img/pngwing.com.png);
       background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
       }
       .audio{width: 100%; 
           text-align:center;}
       
       
       .section3{width:100%; height:1200px;
       display: flex; flex-direction: column; justify-content: center;}
       
       
       .sec3{text-align: center;font-weight: bold; font-size: 40px; height:15%; padding-bottom: 50px; color: #5fb4c9;}
       .director{width: 1200px;height: 640px; margin: 0 auto;
       display: flex;justify-content: space-between; align-items: center;
       }
       .mseeage{display: flex; flex-direction: column; justify-content: space-around;
       width: 350px; height: 400px; line-height: 34px;
       border: #5fb4c9 2.5px solid; border-radius: 40px;
       align-self: flex-start; padding: 0px 30px;
       text-align: center;}
       .mseeage:first-of-type{align-self: center;}
       .mseeage:last-of-type{align-self: flex-end;}
       .mseeage img{width: 100%; height: 100%;
       
       }
       
       
       #intromove{width:100%; height: 2397px;
           display: flex;
           justify-content: center;
           }
       .section4{width:1200px;height: 2325px;margin: 0 auto;
           display: flex;
           flex-direction: column;
           justify-content:space-evenly;
           overflow: hidden;
          }
       
       
       
       
       .box{width: 1200px;     height: 955px; margin: 0 auto;
       display: flex; justify-content: space-between;
       }
       .box:nth-of-type(2){flex-direction: row-reverse;}  
       
       
            .inbox{width:411px; height:440px; 
          
               display: flex; 
               flex-direction: column;
               justify-content: space-around;
               opacity: 0;
               transition: all 1s ease-in-out;
       
       }
       
       .box:nth-of-type(2n-1) .inbox{transform: translateX(-500px);}
       .box:nth-of-type(2n) .inbox{transform: translateX(500px);}
       
            .textinbox1{width: 281px; height:95px; }
            .textinbox2{width: 192px; height:125px;}
            .textinbox3{width: 390px;font-size: 20px; line-height: 30px;}
        .inbox1{width:600px; height:440px;
        display: flex;     position: relative;
       }
       .inbox1 .mask2 img{width: 100%; height: 100%;     
          
       }
       .c{  position: absolute;
       
           top: 0px;
           left: -24px;
       animation: mask2img 1s ease-in-out infinite Alternate;
       }
       .d{width: 100%;
           top: -24px;
           right:35px;
       position: absolute;
       animation: mask2img 1s ease-in-out infinite Alternate;}
       .e{position: absolute;
           animation: mask2img 1s ease-in-out infinite Alternate;
           top: 250px;}
       
       
       @keyframes mask2img{
           0%{top:-48px
       }
       
            100%{top:-28px
               
            }
       }
       
       .inbox1 .mask2{
           
        position: relative; 
       transform: translate(-0px, -0px);}
       
       .inbox1 .mask3{
           width: 100%;
           height: 110%;
           position: absolute;
           bottom: 0px;
       }
       
        
       
          .inbox1 .mask5{position: absolute;
        
           width: 20%;
           top: 44px;
           right: 160px;}
       
          .mask4{
           top: 250px;
           left: -150px;
           position: absolute;}
       
       
       .section5{width: 100%; height: 800px;     margin-top: 222px;}
       /* .slidewaltextbocrap{width: 1200px; height: 656px;margin: 0 auto; overflow: hidden; position: relative;} */
       .slidewrap{width: 1200px;margin: 0 auto; position: relative; overflow: hidden;}
       .slide{width: 300%; height: 100%;}
       .slide li{width: 1200px; float: left;}
       
       .realtextbox{  background-color: #5fb4c9;
       width: 1200px; margin: 0 auto; height: 60px;
       border-radius: 89px; position: relative;}
       
       .munzismall img{width:50px; height:54px;}
       .realtextbox p{color: #fff; padding: 15px;font-size: 22px; 
       float: right; font-weight: bold;}
       .realtextbox .munzismall{    position: absolute;
           left: 22px;
           top: 0px;}
           
           .realtextbox .munzismall img{width: 47px; height: 54px;}
       
       .picwrap{width: 1048px; height: 450px; 
       margin: 0 auto; display: flex; justify-content: space-between;
       margin-top: 83px;}
       
       .picwrapsmall{width: 1048px; height: 450px; 
           margin: 0 auto; display: flex;
           margin-top: 83px;
       position: relative;}
       .picwrapsmall div:nth-child(1){width: 620px; height: 100%;}
       .picwrapsmall div:nth-child(2){width: 300px; height: 100%;  position:absolute;right: 0 ; top: 0; overflow: hidden;}
       .picwrapsmall div:nth-child(3){width: 300px;height: 100%; position: absolute;bottom: 0; right: 0; overflow: hidden;}
       
       .picwrapsmall div:nth-child(1) img{width: 650px;
           height: 100%;}
           .picwrapsmall div:nth-child(2) img{width: 100%;
              }
           .picwrapsmall div:nth-child(3) img{width:100%;
              }
           .picwrapsmall div{border-radius:30px; overflow: hidden;}
       
       .picwrap div{border-radius:30px; background-color: #5fb4c9;
       width: 650px; overflow: hidden;}
       .picwrap img{width: 100%;height: 100%;}
       
       .picwrap div:nth-child(2){width: 350px;}
       .picwrapsmall div:nth-child(2){width: 300px; height:200px;}
       .picwrapsmall div:nth-child(3){width: 313px; height:208px;}
       .slidewrap span{position: absolute; top:50%; transform: translateY(80%); cursor: pointer;}
       .picwrapsmall{display: flex; }
       
       .prev{left: 0px;}
       .prev img{}
       .next{right: 0px;}
       .next img{}
       
       .section6{width:100%;height: 809px;
       }
       .character{width:1200px; height:100px;margin: 0 auto;    display: flex;
        justify-content: space-between;}
       .char{overflow: hidden;}
       .char img{width: 100%; height: 100%;
       
       display: flex;justify-content: space-between;
       ;}
       
           .button,.char{width: 200px; height: 80px;  
               border-radius: 30px; 
            justify-content: space-evenly;}
       
           .cardwrap{width: 1200px; height: 600px;margin: 0 auto; display: flex; justify-content: space-around; align-items: center;
           }
         
           .section6 .cha0{width: 400px; height: 440px; margin: 0 auto;
        }
        .button:nth-child(1),.button:nth-child(3)
        ,.button:nth-child(5){display: flex;align-items: center;
       cursor: pointer;}
        .buttonone{background-color: #4a8a6d;
           width: 60px; height: 60px; overflow: hidden;
       border-radius: 508px;
         
         }
       .buttonone img{width: 100%;height: 100%;}
       
       .satextbox {padding: 15px; font-weight: bold; color: #fff;}
       
       
       
           /* .sazz{position: relative;bottom: 420px;
           margin: 0 auto; } */
           .section6 .satextbox{width: 376px; height: 53px;background-color: #e7d277; margin: 0 auto; right: 0;
           margin-top: 15px; text-align: center; }
       .sazl{position: relative; bottom: 420px;width: 376px; height: 326px;}
       
       .section6 .zlzl{background-color: #4a8a6d;}
       
       
       
       
       
       
       
       
       
           #wrapp {
           position: relative;
           width: 430px;
           height: 440px;
         
       
           perspective: 500px;
           cursor: pointer;
       
       }
       
       #wrapp .card {
           width: 100%;
           height: 100%;
           transition: all ease-in-out .5s;
           transform-style: preserve-3d;
       }
       
       #wrapp:hover .card {
           transform: rotateY(180deg);
       }
       
       #wrapp .card > div {
           position: absolute;
           top: 0;
           left: 0;
           
           width: 100%;
           height: 100%;
           
        
           backface-visibility: hidden;
       }
       
       #wrapp .card .card-front {
           background-color: #f54;
           z-index: 10;
           text-align: center;}
       #wrapp .card .card-front .satextbox{position: relative; bottom: 420px;}
       #wrapp .card .card-back {
           background-color: #ccc;
           z-index: 5;
           transform: rotateY(180deg);
       }
       .section7{width: 100%;height: 40px;background-color:#dbf7e4;
           margin: 0 auto; position: relative;    margin-top: 229px;}
           .section7 img {width: 18px; position: absolute; top: 5px; left: 13px;
           }
       
           .mseeage{opacity: 0;transition: all 1s;}
       .section8{width: 100%;height: 503px;background-color: #ffebe0;
           margin: 0 auto; display: flex; flex-direction: column; position: absolute;}
       .section8 div{text-align: center;}
       #sitewrap{width: 900px; height:100px;  margin: 0 auto;
       display: flex;     justify-content: space-between;    margin-top: 80px;}
       #sitewrap a{text-decoration: none; color:black;}
       #sitewrap img{width:112px; height: 120px;}
       .section8 p{text-align: center;position: absolute; bottom: 0; width: 100%;
           padding: 5px;color: #616060; }
    }
